DB_URL=jdbc:postgresql://localhost:5432/frietsync
DB_USERNAME=postgres
DB_PASSWORD= change this to your password
JWT_SECRET=put_a_long_random_string_here_at_least_32_characters
JWT_EXPIRATION_MS=86400000